<!DOCTYPE html>
<html>

<head>
  <style>
    /* Centers and expands the image while ensuring empty space is black */
    body {
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <title>NASA COTD</title>
</head>

<body>
  <img src="{{ url_for('image') }}">
</body>

</html>
